.card-container {
    width: 480px;
    padding: 20px;
}
.card-container img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

@media screen and (max-width: 500px) {
    .card-container {
        width: 316px;
    }
    .card-container img {
        height: 123px;
    }
}