* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", Arial, sans-serif;
}

.headings {
  position: relative;
  top: 60px;
  margin-left: 15px;
  margin-bottom: 120px;
}

.portfolio-heading {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.projects-heading {
  font-weight: 500;
  font-size: 25px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 10px;
}
